<div class="main-container">
  <div class="phone-chassis">
    <div class="phone-screen">
      <div>
      <div class="dynamic-island"></div>
      <div class="lock-screen">

      </div>
        <div class="app-drawer">
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
          <div class="app-icon"></div>
        </div>
      </div>
      <div class="home-dock">
        <div class="dock-icon"></div>
        <div class="dock-icon"></div>
        <div class="dock-icon"></div>
        <div class="dock-icon"></div>
      </div>
    </div>
  </div>
  <button (click)="animate()">power on</button> <br>
  <button (click)="turnOff()">power off</button>
</div>